@import '../../../../assets/animations.scss';
.defi-joueur-container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;

  .theme {
    margin: 0 auto;
    width: 50vw;
    min-height: 12vh;
    margin-bottom: 5vh;
    font-size: 2vw;
  }

  .champion {
    background-color: purple;
  }

  champ-question {
    margin-bottom: 5vh;
  }

  champ-reponse {
    width: stretch;
  }

  .cash-input-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    min-height: 10vh;
    font-size: 5vh;
  }

  input {
    margin: auto 0;
  }

  .reponse-cash-container {
    display: flex;
    flex-direction: row;

    .reponse-cash {
      margin: 0 auto;
      width: 48%;
    }
  }
}
