<div class="defi-joueur-container">
  <div class="champ theme" [class.champion]="isChampion">{{ defi?.libelleTheme }}</div>

  <champ-question
    [typeChamp]="isChampion ? TypeChamp.CHAMPION : TypeChamp.CHALLENGER"
    [showQuestion]="currentQuestionState() !== EtatQuestion.START_QUESTION"
    [question]="currentQuestion() ? currentQuestion().question : ''"
  >
  </champ-question>

  @if (currentQuestionState() === EtatQuestion.CHOIX_MODE_QUESTION) {
    <choix-mode [isChampion]="isChampion" (modeSelected)="onModeSelected($event)"></choix-mode>
  }

  @if (
    [
      EtatQuestion.REPONSES_PROPOSEES,
      EtatQuestion.REPONSE_JOUEUR_DONNEE,
      EtatQuestion.BONNE_REPONSE_AFFICHEE,
    ].includes(currentQuestionState()) && reponsesDisplay.length > 0
  ) {
    <div class="reponses-list-container">
      <mat-grid-list [cols]="2" rowHeight="12vh" gutterSize="2vh">
        @for (reponse of reponsesDisplay; track reponse) {
          <mat-grid-tile>
            <champ-reponse
              [typeChamp]="isChampion ? TypeChamp.CHAMPION : TypeChamp.CHALLENGER"
              [reponse]="reponse"
              [isBonneReponse]="reponse === currentQuestion().bonneReponse"
              [reponseAlreadySelected]="
                currentQuestionState() === EtatQuestion.REPONSE_JOUEUR_DONNEE
              "
              [isSelectionnable]="currentQuestionState() === EtatQuestion.REPONSES_PROPOSEES"
              [bonneReponseShown]="currentQuestionState() === EtatQuestion.BONNE_REPONSE_AFFICHEE"
              (reponseSelected)="onReponseSelected($event)"
            ></champ-reponse>
          </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  }

  @if (
    !isChampion &&
    modeQuestionSelected === modeQuestion.Cash &&
    currentQuestionState() === EtatQuestion.REPONSES_PROPOSEES
  ) {
    <div class="cash-input-container">
      <input
        class="champ"
        [(ngModel)]="reponseCash"
        (focus)="onReponseCashFocus()"
        (blur)="onReponseCashBlur()"
      />
    </div>
  }

  <div class="reponse-cash-container">
    @if (
      modeQuestionSelected === modeQuestion.Cash &&
      currentQuestionState() === EtatQuestion.BONNE_REPONSE_AFFICHEE
    ) {
      <champ-reponse
        class="reponse-cash"
        [reponse]="bonneReponse()"
        [bonneReponseShown]="currentQuestionState() === EtatQuestion.BONNE_REPONSE_AFFICHEE"
        [isBonneReponse]="true"
      ></champ-reponse>
    }
  </div>
</div>
