<div class="defi-challenger-verif-container">
  <div class="champ theme">{{ recap.theme }}</div>

  <div class="champ question">
    {{ currentQuestion.question }}
  </div>

  <mat-grid-list
    [cols]="2"
    rowHeight="12vh"
    gutterSize="2vh"
    *ngIf="currentQuestion.propositions.length"
  >
    <mat-grid-tile *ngFor="let reponse of currentQuestion.propositions">
      <champ-reponse
        [reponse]="reponse"
        [selected]="reponse === currentQuestion.reponseDonnee"
        [bonneReponseShown]="showBonneReponse"
        [reponseAlreadySelected]="true"
        [isBonneReponse]="currentQuestion.bonneReponse === reponse"
      ></champ-reponse>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #reponseCash>
    <div class="reponse-cash-container">
      <champ-reponse
        class="reponse-cash"
        [reponse]="showBonneReponse ? currentQuestion.bonneReponse : currentQuestion.reponseDonnee"
        [isBonneReponse]="showBonneReponse"
        [bonneReponseShown]="showBonneReponse"
      ></champ-reponse>
    </div>
  </ng-template>
</div>
