@import '../../../assets/palette.scss';
@import '../../../assets/animations.scss';

.compet-container {
  background-image: url('../../../assets/backgrounds/background-compet.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding-top: 5vh;

  .theme {
    width: 48%;
    height: 10vh;
    margin: 0 auto;
    margin-bottom: 5vh;
    background-color: $couleur-compet;
    font-size: 2vw;
  }

  .question-compet-container {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    height: 50vh;
    width: 90vw;
    margin: 0 auto;

    champ-question {
      margin-bottom: 5vh;
    }

    champ-reponse {
      width: stretch;
    }
  }

  .reponse-cash-container {
    display: flex;
    flex-direction: row;

    .reponse-cash {
      margin: 0 auto;
      width: 48%;
    }
  }

  panneau-score-joueurs {
    flex: 0.5;

    margin-bottom: 2.5vh;
  }

  .bouton-to-defi {
    flex: 0.5;
    align-items: center;

    a {
      width: 80%;
      margin-left: 10%;

      font-size: 50px;

      background-color: purple;
      color: white;

      mat-icon {
        margin-left: 10px;

        font-size: 60px;
        width: 60px;
        height: 60px;

        vertical-align: middle;
      }
    }
  }
}
