@import '../../../assets/palette.scss';

.qualifs-scores-container {
  width: 90%;
  margin-left: 5%;

  .scorboard {
    display: flex;
    flex-direction: row;
    gap: 5vh;

    background-color: blueviolet;
    padding: 5vh;

    .scoreboard-joueur {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 1vh;
      padding-bottom: 1vh;

      background-color: cornflowerblue;

      .nom-joueur {
        text-transform: uppercase;
      }

      .nom-joueur-input {
        margin-left: 0;
        text-transform: uppercase;
        text-align: center;
        max-width: 75%;
        font-size: 0.9vw;
      }

      .score-joueur {
        width: 100%;
        padding: 0 0.75vw;
        background-color: blueviolet;
        border: 2px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .reponse-joueur {
        width: 80%;
        border-width: 10px;
        background-color: $couleur-compet;
      }

      .score-joueur-layout {
        display: flex;
        flex-direction: row;
        gap: 0.75vw;
      }
    }

    .joueur-selected {
      border-color: yellow;
    }

    .joueur-qualifie,
    .bonne-reponse-given {
      background-color: #00a933 !important;
    }

    .joueur-ballotage,
    .joueur-challenger {
      background-color: orange;
      cursor: pointer;
    }

    .joueur-elimine {
      background-color: red;
    }

    .joueur-champion {
      background-color: purple;
    }
  }
}
