<div class="qualifs-scores-container">
  <div class="champ scorboard">
    <div
      class="champ scoreboard-joueur"
      *ngFor="let panneau of panneaux"
      [ngClass]="{
        'joueur-qualifie': panneau.statut === 'Qualifié',
        'joueur-ballotage': panneau.statut === 'Ballotage',
        'joueur-elimine': panneau.statut === 'Eliminé',
        'joueur-challenger': panneau.statut === 'Challenger',
        'joueur-champion': panneau.statut === 'Champion',
        'joueur-selected': panneau.joueur === selectedJoueur,
      }"
      (click)="repecher(panneau)"
    >
      <div class="nom-joueur">{{ panneau.joueur }}</div>
      <div
        class="champ reponse-joueur"
        *ngIf="panneau.reponseJoueur; else showScore"
        [ngClass]="{
          'bonne-reponse-given': showBonneReopnseGiven && panneau.bonneReponseGiven,
        }"
      >
        {{ panneau.reponseJoueur }}
      </div>
      <ng-template #showScore>
        <div class="score-joueur-layout">
          <button matIconButton *ngIf="modeRegie" (click)="changerScore(panneau.joueur, -1)">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
          <div class="score-joueur">{{ panneau.score }}</div>
          <button matIconButton *ngIf="modeRegie" (click)="changerScore(panneau.joueur, 1)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
