<div class="defi-container">
  @if (currentEtatDefi() === EtatDefi.CHOIX_THEME && (themesDefi$ | async); as themesDefi) {
    <div>
      <choix-theme
        [themesDefi]="themesDefi"
        (onThemeChallengerSelected)="getDefiChallenger($event)"
        (onThemeChampionSelected)="getDefiChampion($event)"
      ></choix-theme>
    </div>
  }
  @if (currentEtatDefi() === EtatDefi.DEFI_CHALLENGER) {
    <defi-joueur
      [defi]="defiChallenger"
      (onDefiTermine)="switchToDefiChampion()"
      (onQuestionRepondue)="recordQuestion($event)"
      (onReponseCashInEdition)="setRegieBlocked($event)"
    ></defi-joueur>
  }
  @if (currentEtatDefi() === EtatDefi.DEFI_CHAMPION) {
    <defi-joueur
      [defi]="defiChampion"
      [isChampion]="true"
      (onDefiTermine)="switchToDefiVerifChallenger()"
      (onBonneReponseGiven)="augmenterScore($event, 'Champion')"
    ></defi-joueur>
  }
  @if (currentEtatDefi() === EtatDefi.VERIF_DEFI_CHALLENGER) {
    <defi-challenger-verif
      [recap]="reponsesChallenger()"
      (onBonneReponseGiven)="augmenterScore($event, 'Challenger')"
      (onVerifDefiTermine)="declarerChampion()"
    ></defi-challenger-verif>
  }
  @if (currentEtatDefi() === EtatDefi.FIN_DEFI) {
    <div class="champ final-result">
      {{ isNouveauChampion ? 'Nous avons un nouveau champion ! ' : 'Le champion reste champion !' }}
    </div>
  }
  @if (currentEtatDefi() !== EtatDefi.CHOIX_THEME) {
    <panneau-score-joueurs
      [panneaux]="panneauxDefi"
      [selectedJoueur]="currentJoueur"
      [regieBlocked]="isReponseChallengerInEdition()"
    ></panneau-score-joueurs>
  }
</div>
