<div class="champ-question-container">
  @if (extraitMusique) {
    <div
      class="champ extrait-musical"
      (click)="playExtrait()"
    [class]="{
      'extrait-bloque': extraitBloque === true,
      qualif: typeChamp === TypeChamp.QUALIF,
      compet: typeChamp === TypeChamp.COMPET,
      challenger: typeChamp === TypeChamp.CHALLENGER,
      champion: typeChamp === TypeChamp.CHAMPION,
    }"
      >
      <mat-icon>music_note</mat-icon>
    </div>
  }
  @if (showQuestion) {
    <div
      class="champ question"
    [class]="{
      'extrait-bloque': extraitBloque === true,
      qualif: typeChamp === TypeChamp.QUALIF,
      compet: typeChamp === TypeChamp.COMPET,
      challenger: typeChamp === TypeChamp.CHALLENGER,
      champion: typeChamp === TypeChamp.CHAMPION,
    }"
      >
      {{ question }}
    </div>
  }
</div>
