@import '../../../assets/animations.scss';

.qualifs-container {
  background-image: url('../../../assets/backgrounds/background-qualifs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  padding-top: 5vh;

  display: flex;
  flex-direction: column;

  .question-qualif-container {
    flex: 1.5;
    height: 50vh;
  }

  .question-container {
    margin-left: 5%;
    min-height: 15vh;
    margin-bottom: 3vh;
    width: 90%;

    display: flex;
    flex-direction: row;

    .extrait-musical {
      width: 10%;
      margin-right: 5%;
      mat-icon {
        scale: 4;
      }

      cursor: pointer;
    }

    .question {
      width: 100%;
      font-size: 30px;
      animation: insertion-furtive 1s;
    }
  }

  .couple-reponse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;

    champ-reponse {
      width: 48%;
    }
  }

  .reponse-cash-container {
    display: flex;
    flex-direction: row;

    .reponse-cash {
      margin: 0 auto;
      width: 48%;
    }
  }

  panneau-score-joueurs {
    flex: 0.5;

    margin-bottom: 2.5vh;
  }

  .bouton-to-compet {
    flex: 0.5;
    align-items: center;

    a {
      width: 80%;
      margin-left: 10%;

      font-size: 50px;

      mat-icon {
        margin-left: 10px;

        font-size: 60px;
        width: 60px;
        height: 60px;

        vertical-align: middle;
      }
    }
  }
}
