@import '../../../assets/animations.scss';

.qualifs-container {
  background-image: url('../../../assets/backgrounds/background-qualifs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  padding-top: 5vh;

  display: flex;
  flex-direction: column;

  .question-qualif-container {
    display: flex;
    flex-direction: column;
    flex: 1.5;

    margin: 0 auto;
    width: 90vw;

    champ-question {
      margin-bottom: 5vh;
    }

    champ-reponse {
      width: stretch;
    }

    .reponse-cash-container {
      margin: 0 auto;
      width: 50vw;
    }
  }

  panneau-score-joueurs {
    flex: 0.5;

    margin-bottom: 2.5vh;
  }

  .bouton-to-compet {
    flex: 0.5;
    align-items: center;

    a {
      width: 90vw;
      margin-left: 5vw;

      font-size: 50px;

      mat-icon {
        margin-left: 10px;

        font-size: 60px;
        width: 60px;
        height: 60px;

        vertical-align: middle;
      }
    }
  }
}
