.lobby-container {
  background-image: url('../../../assets/backgrounds/background-qualifs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img {
    width: 400px;
    height: auto;
  }

  .joueur {
    font-size: 4vh;
  }

  a {
    margin: 0;
    font-size: 50px;
    padding-left: 10rem;
    padding-right: 10rem;

    border: 20px solid white;
    border-radius: 10px;
  }

  a[disabled] {
    background-color: grey;
  }

  .btn-qualifs {
    background-color: orange;
  }

  mat-grid-list {
    width: 75vw;
    height: 100vh;
  }
}
